<ion-view title="Atlanta Summit 2016">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/40FQ43dRuehyiC3I7Kdd_Atlanta-Summit-hero-image.jpg" width="100%" height="auto">
        </div>
        <h3>Attendees</h3>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/VE38n4dBQ4Sp1cURYKH1_Peter-bw.jpg">
                <h2>Peter Lehrman</h2>
                <p>CEO</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/Dj61bKLKSPWiGGQXLtEJ_elon-musk-bio-450x300.jpg">
                <h2>Elon Musk</h2>
                <p>Visionary</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/M6jzxx2QZe4aRA62c5jQ_Bill_Gates_John_Keatley.jpg">
                <h2>Bill Gates</h2>
                <p>Philantropist</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/nhJmtJERS3C5KwLtDUTp_MTIwNjA4NjMzNjg3ODAzNDA0.jpg">
                <h2>Mark Zuckerberg</h2>
                <p>Facebook</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/3pwcUzjJTPyqoBVEVeWW_lead_960.jpg">
                <h2>Donal Trump</h2>
                <p>???</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>