<ion-view title="Dallas Summit 2016">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/UMGMj5lxTGKkOye7oXyn_dallas-summit-homepage-image.jpg" width="100%" height="auto">
        </div>
        <h3>Attendees</h3>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/Dj61bKLKSPWiGGQXLtEJ_elon-musk-bio-450x300.jpg">
                <h2>Elon Musk</h2>
                <p>Visionary</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/nhJmtJERS3C5KwLtDUTp_MTIwNjA4NjMzNjg3ODAzNDA0.jpg">
                <h2>Mark Zuckerberg</h2>
                <p>Facebook</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/3pwcUzjJTPyqoBVEVeWW_lead_960.jpg">
                <h2>Donal Trump</h2>
                <p>???</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>